<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.natiesettings"
	version="1.0">

	<name>Native settings</name>
	<description>Native settings opener for Cordova 3.0</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>    

	<js-module src="www/settings.js" name="Settings">
		<clobbers target="cordova.plugins.settings" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/NativeSettings.java" target-dir="src/com/phonegap/plugins/settings" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GpsEnable">
				<param name="android-package" value="com.phonegap.plugins.natiesettings.NativeSettings" />
			</feature>
		</config-file>
	</platform>    

</plugin>
